<div class="main" *ngIf="display()">
    <div class="box">
        <div id="the-text">
            <p>Change tag name from <em>{{ name }}</em> to</p>
            <input class="my-input" type="text" placeholder="new name"
                   (input)="checkIfUnique($event.target.value)" [(ngModel)]="newName"/>
        </div>
        <button class="button button-small dark" id="cancel-rename" (click)="cancel()">Cancel</button>
        <button class="button button-small yellow" id="rename-tag"
            [disabled]="renameButtonDisabled()" (click)="rename()">Rename</button>

        <p *ngIf="!newNameUnique" id="not-unique-tag">Such tag already exists!</p>
    </div>
</div>
