<div class="container-fluid" id="main-container">
    <div class="row">
        <div class="block col-7" id="testing-top">
            TRANSLATE WORDS FROM YOUR DICTIONARY
        </div>
    </div>

    <div class="row">
        <section class="col-7 container-fluid settings">
            <div class="block col-3 settings-block" id="settings-block-from">
                <div>From</div>

                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        {{ maybeLanguageSrc() }} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                                      role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let language of languages">
                            <a (click)="changeSrcLanguageTo(language)"
                                class="dropdown-item"
                                [ngClass]="{'disabled': language == maybeLanguageSrc()}">{{ language }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block col-3 settings-block" id="settings-block-into">
                <div>Into</div>

                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        {{ maybeLanguageDst() }} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                                      role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let language of languages">
                            <a (click)="changeDstLanguageTo(language)"
                                class="dropdown-item"
                                [ngClass]="{'disabled': language == maybeLanguageDst()}">{{ language }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block col-3 settings-block" id="settings-block-tags">
                <div>Include</div>

                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        tags <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                                      role="menu" aria-labelledby="button-basic">
                        <li class="dropdown-tag-li" role="menuitem" *ngFor="let statefulTag of allStatefulTagsObservable | async" (click)="($event).stopPropagation()">
                            <div class="my-checkbox">
                                <input type="checkbox" id="checkbox-{{tag}}" [checked]="statefulTag.checked">
                                <label for="checkbox-{{tag}}">{{ statefulTag.tag }}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <section class="block col-7 container-fluid" id="testing-main-column">
            <div class="row justify-content-around">
                <div class="col-5 box" id="testing-query">
                    <span class="primary-text-dark" id="word-to-translate">
                        {{ wordEntry ? wordEntry.word : "" }}
                    </span>
                    <span class="secondary-text-2" id="lang-label">
                        {{ maybeLanguageSrc() }}
                    </span>
                    <span class="secondary-text-1" id="tags-label">
                        [{{ wordEntry ? wordEntry.tags.join(";") : "" }}]
                    </span>
                    <span class="secondary-text-1" id="word-score">
                        {{ wordEntry ? roundToStr(wordEntry.score) : 0.0 }}
                    </span>
                </div>

                <textarea class="col-5 box primary-text-dark"
                          id="testing-user-input"
                          placeholder="Type answer here"
                          [(ngModel)]="userInput"
                          (keyup.enter)="submit()"
                          [disabled]="textareaDisabled()"
                        ></textarea>
            </div>
        </section>
    </div>

    <div class="row">
        <div class="block col-7" id="result-panel"
            [ngClass]="{'result-full-match': resultIsFull(),
                        'result-partial-match': resultIsPartial(),
                        'result-insufficient-match': resultIsInsufficient() || !wordEntry }">

            <div *ngIf="!wordEntry" id="error-notifier">
                <p>NO WORDS TO TEST</p>
            </div>

            <div>
                <!-- The *ngIf is on <p> instead of the parent <div> because we want -->
                <!-- at least 2 items to be present at all times inside the result parent, -->
                <!-- otherwise the button shifts to the left. -->
                <p *ngIf="doDisplayResult()">
                    <span class="primary-text-light" id="correct-answer-text">
                        {{ resultIsInsufficient() ? "Corect answer: " : "All translations: " }}
                    </span>
                    <span class="primary-text-light" id="correct-answer">
                        {{ wordEntry ? wordEntry.translations.join("; ") : ""}}
                    </span>
                    <span class="primary-text-dark" id="answer-delta"
                          [ngClass]="{'score-correct': resultIsFull() || resultIsPartial(),
                                      'score-wrong': resultIsInsufficient() }">
                        {{ resultDelta >= 0 ? "+" : "" }}{{ resultDelta }}
                    </span>
                </p>
            </div>

            <button class="button button-big green"
                    id="button-submit"
                    (click)="submit()"
                    [disabled]="!userInput || userInput.trim().length == 0 || !wordEntry">
                {{ submitButtonText() }}
            </button>
        </div>
    </div>
</div>
