#testing-settings {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #454545;
    /* background-color: #323232; */
}
#testing-main-column {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #454545;
}

#main-container > div {
    margin-bottom: 1rem;
}

.box {
    height: 6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}
.box#testing-query {
    background: #ccc;
    border: 2px solid #ccc;
}
.box#testing-user-input {
    background: #eee;
    border: 2px solid #eee;
    resize: none;
    outline: none;
}
.box#testing-user-input:focus {
    border: 3px solid #f24a07;
}
#word-score {
    float: right;
}

.primary-text-light {
    font-size: 1.1rem;
    color: white;
}
.primary-text-dark {
    font-size: 1.1rem;
    color: black;
}
.secondary-text-1 {
    font-size: 1.1rem;
    color: rgba(80, 80, 80, 0.5);
}
.secondary-text-2 {
    font-size: 1.1rem;
    color: rgba(80, 80, 80, 0.3);
}

#error-notifier {
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
}
#result-panel {
    background-color: #454545;
    margin: auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

span#correct-answer {
    font-style: italic;
}
span#answer-delta {
    margin: 0rem 1rem 0rem 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}


.score-correct {
    color: rgba(0, 255, 0, 0.7);
}
.score-wrong {
    color: red;
}

.result-full-match {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    border-top: 0.6rem solid rgba(0, 200, 0, 0.9);
    border-bottom: 0.6rem solid rgba(0, 200, 0, 0.9);
}
.result-partial-match {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    border-top: 0.6rem solid rgba(250, 210, 0, 0.8);
    border-bottom: 0.6rem solid rgba(250, 210, 0, 0.8);
}
.result-insufficient-match {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    border-top: 0.6rem solid rgba(255, 0, 0, 0.7);
    border-bottom: 0.6rem solid rgba(255, 0, 0, 0.7);
}
