<div class="container-fluid">
    <div class="row">
        <section id="testing-main-column" class="col-7 container-fluid">
            <div class="row justify-content-around">
                <div class="col-5 box" id="testing-query">
                    <span class="primary-text-dark" id="word-to-translate">
                        {{ wordEntry ? wordEntry.word : "" }}
                    </span>
                    <span class="secondary-text-2" id="lang-label">
                        {{ maybeLanguageSrc() }}
                    </span>
                    <span class="secondary-text-1" id="tags-label">
                        [{{ wordEntry ? wordEntry.tags.join(";") : "" }}]
                    </span>
                    <span class="secondary-text-1" id="word-score">
                        {{ wordEntry ? wordEntry.score : 0.0 }}
                    </span>
                </div>

                <textarea class="col-5 box primary-text-dark"
                          id="testing-user-input"
                          placeholder="Type answer here"
                          [(ngModel)]="userInput"
                          (keyup.enter)="submitInput()"
                        ></textarea>
                    <!-- [disabled]="currentState != stateUserInput" -->
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-7 row justify-content-between" id="result-panel">
            <div *ngIf="!wordEntry" id="error-notifier">
                <p>NO WORDS MEET THE SPECIFIED CONDITION(LANG PAIR & TAGS)</p>
            </div>

            <div *ngIf="true">
                <p>
                    <span class="primary-text-light" id="correct-answer-text">
                        {{ (true) ? "Corect answer: " : "All translations: " }}
                    </span>
                    <span class="primary-text-light" id="correct-answer">
                        {{ wordEntry ? wordEntry.translations.join("; ") : ""}}
                    </span>
                    <span class="primary-text-dark" id="answer-score">
                        {{ answerScore >= 0 ? "+" : "" }}{{ answerScore }}
                    </span>
                </p>
            </div>

            <button class="button button-big dark"
                    (click)="submitInput()"
                    [disabled]="!userInput || userInput.trim().length == 0 || !wordEntry">
                {{ currentState == stateUserInput ? "Submit" : "Next" }}
            </button>
        </div>
    </div>
</div>
