#testing-top {
    font-family: 'B612', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #6f89f4;
    text-shadow: 1px 1px 2px black;
}

#testing-main-column {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#main-container > div {
    margin-bottom: 1rem;
}

.box {
    height: 6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
}
.box#testing-query {
    background-color: #ccc;
    border: 2px solid #ccc;
}
.box#testing-user-input {
    background-color: #eee;
    border: 2px solid #eee;
    resize: none;
    outline: none;
}
.box#testing-user-input:focus {
    border: 3px solid #f24a07;
}
#word-score {
    float: right;
}

.primary-text-light {
    font-size: 1.1rem;
    color: white;
}
.primary-text-dark {
    font-size: 1.1rem;
    color: black;
}
.secondary-text-1 {
    font-size: 1.1rem;
    color: rgba(80, 80, 80, 0.5);
}
.secondary-text-2 {
    font-size: 1.1rem;
    color: rgba(80, 80, 80, 0.3);
}

#error-notifier {
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
}
#result-panel {
    padding: 0.6rem;
    border-top: 0.6rem solid #333;
    border-bottom: 0.6rem solid #333;
    margin: auto;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    transition: border 0.5s ease-out, padding 0.5s ease-out;
}

span#correct-answer {
    font-style: italic;
}
span#answer-delta {
    margin: 0rem 1rem 0rem 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}


.score-correct {
    color: rgba(0, 255, 0, 0.7);
}
.score-wrong {
    color: red;
}

.result-full-match {
    border-top: 0.6rem solid rgba(0, 200, 0, 0.9) !important;
    border-bottom: 0.6rem solid rgba(0, 200, 0, 0.9) !important;
}
.result-partial-match {
    border-top: 0.6rem solid rgba(250, 210, 0, 0.8) !important;
    border-bottom: 0.6rem solid rgba(250, 210, 0, 0.8) !important;
}
.result-insufficient-match {
    border-top: 0.6rem solid rgba(255, 0, 0, 0.7) !important;
    border-bottom: 0.6rem solid rgba(255, 0, 0, 0.7) !important;
}

#settings-block-from .dropdown-menu li:hover,
#settings-block-into .dropdown-menu li:hover {
    cursor: pointer;
}
.dropdown-menu a.disabled {
    color: #888;
}


