.block {
    background-color: #454545;
    padding: 1.2rem;
}

section.input-panel {
    /* padding: 0.8rem; */
    /* background-color: #252525; */
    align-items: center;
    justify-content: center;
    max-width: 58.333333%;
    margin: auto;
}
section.input-panel > * {
    margin-right: 1rem;
}
section.input-panel > input {
    border: 2px solid black;
    border-radius: 0.5rem;
    /* padding: 0.1rem 0.1rem 0.1rem 0.1rem; */
    padding: 0.5rem 0.4rem 0.5rem 0.4rem;
    font-size: 0.9rem;
    outline: none;
    background-color: #444;
    color: #eee;
}

section {
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
}
