.wrapper {
    text-align: center;
}
#main {
    display: inline-block;
    margin: auto;
    margin-top: 5rem;
    color: #eee;
    padding: 3rem;
    padding-bottom: 2rem;
}
#main > * {
    margin-bottom: 2rem;
}
#main > *:last-child {
    margin-bottom: 0px;
}
#main > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main legend {
    font-size: 1.6rem;
}
#main > div > input {
    font-size: 1.5rem;
    color: white;
}

.my-input {
    background-color: #333;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: border 0.4s ease-out;
}

.my-input:focus {
    border-bottom: 2px solid #999;
}

.my-input.invalid {
    border-bottom: 2px solid #A00 !important;
}

#username-error-description {
    margin-top: 0.4rem;
    color: #D00;
}

#total-error-description {
    color: #D00;
}

#account-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
}
#account-create a {
    margin-left: 0.4em;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#account-create #link {
    margin-left: 0.4em;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

