.main-container > div {
    margin-bottom: 1rem;
}

#testing-top {
    font-family: 'B612', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #6f89f4;
    text-shadow: 1px 1px 2px black;
}
#database-settings {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    padding: 0px; /* To remove padding on the sides of col-7 */
    color: white;
}
.block {
    background-color: #454545;
    padding: 1.2rem;
}
.settings-block {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    font-size: 1.5rem;
}
.settings-block > :nth-child(1) {
    margin-right: 0.5em;
}





/* #database-header > div { */
/*     background-color: #252525; */
/*     padding: 0.8em; */
/* } */
#tableTotalCount {
    text-align: right;
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.0rem;
    margin: auto;
}
.arrow {
    margin-top: auto;
    margin-bottom: auto;
}


#words-table {
    background-color: #bbb;
}
#words-table thead tr {
    background-color: #333;
    color: #eee;
}
#words-table tbody tr:nth-child(odd) {
    background-color: #777;
}
#words-table td:nth-child(even) {
    border-left: 3px solid #333;
    border-right: 3px solid #333;
}
#words-table td:last-child {
    border-right: 0px;
}
#words-table tr > :nth-child(1) {
    /* background-color: #6b7; */
}
#words-table tr > :nth-child(2) {
    /* background-color: #b67; */
}
#words-table tr > :nth-child(3) {
    /* background-color: #6f79b4; */
    text-align: center;
}
#words-table tr > :nth-child(4) {
    /* background-color: #af7944; */
}
#words-table tr > :nth-child(5) {
    /* background-color: #bbbb77; */
    text-align: center;
}
#words-table tr > :nth-child(6) {
    /* background-color: #aa7777; */
    text-align: center;
}
#words-table th {
    text-align: center;
    font-family: 'B612', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0.7em;
    font-size: 1.3rem;
}
#words-table td {
    font-family: 'Alegreya', sans-serif;
    font-size: 1.2rem;
    padding: 0.6em;
}
tbody > * {
    border-top: 1px solid black;
}
tbody > :first-child {
    border-top: 4px solid black;
}
tbody > :last-child {
    border-bottom: 4px solid black;
}

.dropdown-menu li:hover {
    cursor: pointer;
}
.dropdown-menu a.disabled {
    color: #888;
}

hr {
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #333, #ccc, #333);
    /* background-color: black; */
    /* background-image: linear-gradient(to right, */
    /*     rgba(255, 255, 255, 0), */
    /*     rgba(255, 255, 255, 0.75), */
    /*     rgba(255, 255, 255, 0)); */
    margin: 0px;
}
