<section id="database-header" class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="container-fluid">
                <div id="database-languages" class="row">
                    <div class="btn-group" dropdown>
                      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                              aria-controls="dropdown-basic">
                          {{ primaryLanguage }} <span class="caret"></span>
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="button-basic">
                          <li role="menuitem">
                              <a class="dropdown-item" href="#" *ngFor="let language of languages">{{ language }}</a>
                          </li>
                      </ul>
                    </div>

                    <div class="arrow">==>></div>

                    <div class="btn-group" dropdown>
                      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                              aria-controls="dropdown-basic">
                          {{ secondaryLanguage }} <span class="caret"></span>
                      </button>
                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="button-basic">
                          <li role="menuitem">
                              <a class="dropdown-item" href="#" *ngFor="let language of languages">{{ language }}</a>
                          </li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6" id="tableTotalCount">
            (Total: {{ words.length }} entries)
        </div>
    </div>
</section>


<table class="table table-borderless" id="words-table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Translations</th>
            <th>Score</th>
            <th>Tags</th>
            <!-- <th>@E</th> -->
            <!-- <th>@D</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of words; let wordIndex = index">
            <td>{{ entry.word }}</td>
            <td>
                {{ entry.translations.join(', ') }}
                <!-- <span *ngFor="let translation of entry.translations.join(', ')" class="translation&#45;box"> -->
                <!--     <a href="#">{{(translation ? translation.w : "")}}</a>; -->
                <!-- </span> -->
            </td>
            <td>{{ entry.score }}</td>

            <td>{{ entry.tags.join("; ") }}</td>

            <!-- <td> -->
            <!--     <button -->
            <!--         (click)="editWord(word, wordIndex)" -->
            <!--         class="button button&#45;small yellow">Edit -->
            <!--     </button> -->
            <!-- </td> -->
            <!-- <td> -->
            <!--     <button -->
            <!--         (click)="removeWord(word)" -->
            <!--         class="button button&#45;small red">Del -->
            <!--     </button> -->
            <!-- </td> -->
        </tr>
    <tbody>
</table>
