<section class="container-fluid main-container">
    <div class="row">
        <div class="block col-7" id="testing-top">
            MANIPULATE YOUR DICTIONARY
        </div>
    </div>


    <div class="row">
        <section class="col-7 container-fluid settings">
            <div class="block col-3 settings-block" id="settings-block-from">
                <div>From</div>

                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        {{ primaryLanguage }} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                                      role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let language of languages">
                            <a (click)="changeSrcLanguageTo(language)"
                                class="dropdown-item"
                                [ngClass]="{'disabled': language == primaryLanguage}">{{ language }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block col-3 settings-block" id="settings-block-into">
                <div>Into</div>

                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        {{ secondaryLanguage }} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                                      role="menu" aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let language of languages">
                            <a (click)="changeDstLanguageTo(language)"
                                class="dropdown-item"
                                [ngClass]="{'disabled': language == secondaryLanguage}">{{ language }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="block col-3 settings-block" id="settings-block-tags">
                <div>Include</div>

                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                        tags <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu"
                                      role="menu" aria-labelledby="button-basic">
                        <li class="dropdown-tag-li" role="menuitem"
                                *ngFor="let statefulTag of allStatefulTagsObservable | async"
                                (click)="($event).stopPropagation()">
                            <div class="my-checkbox">
                                <input type="checkbox" id="checkbox-{{tag}}" [checked]="statefulTag.checked">
                                <label for="checkbox-{{tag}}">{{ statefulTag.tag }}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>


<section class="edited-word-entry-container">
    <edited-word-entry
        [events]="displayEditedEntry.asObservable()"
        [languagePair]="languagePair"
        (submitEntry)="submitEntry($event)">
    </edited-word-entry>
</section>


<section class="block the-table">
<table class="table table-borderless" id="words-table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Translations</th>
            <th>Score</th>
            <th>Tags</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries; let entryIndex = index">
            <td>{{ entry.word }}</td>
            <td>{{ entry.translations.join(', ') }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.tags.join("; ") }}</td>
            <td class="nostretch" id="words-table-edit">
                <button
                    (click)="editEntry(entry, entryIndex)"
                    class="button button-small yellow">Edit
                </button>
            </td>
            <td class="nostretch" id="words-table-delete">
                <button
                    (click)="removeEntry(entry, entryIndex)"
                    class="button button-small red">Delete
                </button>
            </td>
        </tr>
        <tbody>
</table>
</section>
