.main-container > * {
    margin-bottom: 1rem;
}
.edited-word-entry-container {
    /* margin-bottom: 1rem; */
    /*border-bottom: 1rem solid #ddd; /* page background */
    position: -webkit-sticky;
    position: sticky;
    top: 3.5rem;
}
.edited-word-entry-after {
    max-width: 58.333333%;
    margin: auto;

    background-color: #d00;
    color: black;
    height: 2rem;
    line-height: 2rem; /* must be the same as height */
    vertical-align: middle;

    padding-left: 1.5rem;
    margin-bottom: 1rem !important;

    transition: margin 0.5s ease-out;

    position: relative;
    z-index: -10;

    margin-top: -2rem !important;
}
.edited-word-entry-after.visible {
    margin-top: -0rem !important;
}

#testing-top {
    font-family: 'B612', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #6f89f4;
    text-shadow: 1px 1px 2px black;
}


.the-table {
    max-width: 58.333333%;
    margin: auto;
}
#words-table thead tr {
    color: #eee;
}
#words-table tbody {
    color: #eee;
}
#words-table tbody tr:nth-child(odd) {
    background-color: #444;
}
#words-table td:nth-child(even) {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}
#words-table td:last-child {
    border-right: 0px;
}
#words-table tr > :nth-child(1) {
    /* background-color: #6b7; */
}
#words-table tr > :nth-child(2) {
    /* background-color: #b67; */
}
#words-table tr > :nth-child(3) {
    /* background-color: #6f79b4; */
    text-align: center;
}
#words-table tr > :nth-child(4) {
    /* background-color: #af7944; */
}
#words-table tr > :nth-child(5) {
    /* background-color: #bbbb77; */
    text-align: center;
}
#words-table tr > :nth-child(6) {
    /* background-color: #aa7777; */
    text-align: center;
}
#words-table th {
    text-align: center;
    font-family: 'B612', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0.7em;
    padding-top: 0.0em;
    font-size: 1.3rem;
}
#words-table td {
    font-family: 'Alegreya', sans-serif;
    font-size: 1.2rem;
    padding: 0.6em;
}
tbody > * {
    border-top: 1px solid black;
}
tbody > :first-child {
    border-top: 4px solid black;
}
tbody > :last-child {
    border-bottom: 4px solid black;
}

.dropdown-menu li:hover {
    cursor: pointer;
}
.dropdown-menu a.disabled {
    color: #888;
}

.the-table div {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
    padding: 0.4em;
    border-top: 6px solid rgba(255, 0, 0, 0.7);
    border-bottom: 6px solid rgba(255, 0, 0, 0.7);
}
