<nav class="">
    <ul class="">
        <li>
            <a class="navbar-brand" href="#">Linguanator 2</a>
        </li>

        <li class="navigation-item" [routerLinkActive]="['active']">
            <a class="" href="#" routerLink="/testing">Testing</a>
        </li>
        <li class="navigation-item" [routerLinkActive]="['active']">
            <a class="" href="#" routerLink="/database">Database</a>
        </li>
        <li class="navigation-item" [routerLinkActive]="['active']">
            <a class="" href="#" routerLink="/settings">Settings</a>
        </li>
    </ul>

    <ul class="" id="loginStuff">
        <li class="" *ngIf="loggedIn()" id="userName">
            <p>Logged in as {{ currentUsername() }}</p>
        </li>

        <li class="">
            <a class="" href="#" routerLink="/login">
                <img src="assets/images/avatar.jpg"
                     class="rounded-circle z-depth-0"
                     alt="avatar image"
                     height="35">
            </a>
        </li>

        <li class="" *ngIf="loggedIn()" id="logoutLink">
            <a class="" href="#" (click)="logout()" routerLink="/login">Log out</a>
        </li>
    </ul>
</nav>
