.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    /* max-width: 58.333333%; */
    max-width: 70%;
    min-width: 720px;
}
.container > * {
    margin-bottom: 2rem;
}
.languages > * {
    margin-bottom: 1rem;
}
.tags > * {
    margin-bottom: 1rem;
}

.header {
    font-family: 'B612', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #6f89f4;
    text-shadow: 1px 1px 2px black;
    margin: auto;
    text-align: center;
}


.the-table {
    margin: auto;
}
.some-table {
}
.some-table thead tr {
    color: #eee;
}
.some-table thead {
}
.some-table tbody {
    color: #eee;
}
.some-table tbody tr:nth-child(odd) {
    background-color: #444;
}
.some-table td:nth-child(even) {
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}
.some-table td:last-child {
    border-right: 0px;
}
.some-table tr > :nth-child(1) {
    text-align: left;
}
.some-table tr {
    text-align: center;
}
.some-table th {
    text-align: center;
    font-family: 'B612', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 0.7em;
    padding-top: 0.0em;
    font-size: 1.3rem;
}
.some-table td {
    font-family: 'Alegreya', sans-serif;
    font-size: 1.2rem;
    padding: 0.6em;
}
tbody > * {
    border-top: 1px solid black;
}
tbody > :first-child {
    border-top: 4px solid black;
}
tbody > :last-child {
    border-bottom: 4px solid black;
}



.dropdown-select {
    display: inline-block;
}
.dropdown-select button {
    outline: none;
    font-family: Calibri;
    font-weight: bold;
    border: none;

    font-size: 1.1rem;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.2rem;
    box-shadow: 0.15rem 0.15rem 0.4rem #111;
    background-color: #44E;
    color: #EEE;
}
.dropdown-select button:hover:enabled {
    background-color: #55F;
}
.dropdown-select button.noSelectedItem {
    font-style: italic;
    font-weight: normal;
}
.dropdown-select span {
    color: #333;
}
.dropdown-select li {
    list-style-type: none;
    cursor: pointer;
    padding: 0.4em 1.1rem 0.4rem 1.1rem;
    font-size: 1.2rem;
}
.dropdown-select li:hover {
    background-color: #666;
    color: #77F;
}
.dropdown-select ul {
    padding: 0px;
    position: absolute;
    background-color: #555;
    z-index: 10;
}
.dropdown-select ul.open {
    display: block;
}
.dropdown-select ul.closed {
    display: none;
}


.add-language {
    font-size: 1.5rem;
    /* padding: 0.8rem; */
    /* background-color: #252525; */
    align-items: center;
    justify-content: center;
    color: white;
    /* max-width: 58.333333%; */
    /* margin: auto; */
}
.add-language > * {
    margin-right: 1rem;
}
.add-language > input {
    border: 2px solid black;
    border-radius: 0.5rem;
    /* padding: 0.1rem 0.1rem 0.1rem 0.1rem; */
    padding: 0.5rem 0.4rem 0.5rem 0.4rem;
    font-size: 0.9rem;
    outline: none;
    background-color: #eee;
    border: 2px solid #eee;
    outline: none;
    color: #000;
}
.add-language > input:focus {
    border: 2px solid #f24a07;
}


#insufficient-languages {
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    background-color: #d00;
    color: black;
    height: 3rem;
    line-height: 3rem; /* must be the same as height */
    vertical-align: middle;

    margin-bottom: 1rem !important;

    transition: margin 0.5s ease-out;

    position: relative;
    z-index: -10;

    margin-top: -4rem !important;
}
#insufficient-languages.visible {
    margin-top: -1rem !important;
}
