<section class="container" (click)="resetDropdowns()">
    <section class="languages">
        <div class="header block">
            MANIPULATE YOUR LANGUAGES
        </div>


        <section class="block the-table">
            <table class="some-table">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Words from</th>
                        <th>Words to</th>
                        <th>Total words</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let language of languageEntries | async">
                        <td>{{ language.name }}</td>
                        <td>{{ language.wordsCountFrom }}</td>
                        <td>{{ language.wordsCountTo }}</td>
                        <td>{{ language.totalWordsCount }}</td>
                        <td class="nostretch">
                            <button
                                (click)="removeLanguage(language)"
                                class="button button-small red">Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>


        <section class="block horizontal add-language">
            <div>{{ dropdownHeadline() }}</div>

            <div class="dropdown-select" *ngIf="!noUnselectedLanguages">
                <button type="button"
                        (click)="dropdownPress()"
                        [ngClass]="{ noSelectedItem: !dropdownSelectedName }">
                    {{ dropdownButtonContent() }}<span> ▼</span>
                </button>
                <ul [ngClass]="{'open': dropdownOpen, 'closed': !dropdownOpen}">
                    <li *ngFor="let item of unselectedLanguageEntries | async; index as i" (click)="dropdownSelectItem(item)">
                        <div>{{ item }}</div>
                    </li>
                </ul>
            </div>

            <button *ngIf="!noUnselectedLanguages"
                class="button button-big green"
                [disabled]="!dropdownSelectedName"
                (click)="addLanguage()">Add</button>
        </section>
    </section>


    <section class="tags">
        <div class="header block">
            MANIPULATE YOUR TAGS
        </div>


        <section class="block the-table">
            <table class="some-table">
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th *ngFor="let language of languageEntries | async">In {{ language.name }}</th>
                        <th>Total</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tag of tagEntries | async">
                        <td>{{ tag.name }}</td>
                        <td *ngFor="let count of tag.wordsCountInLanguages">{{ count }}</td>
                        <td>{{ tag.totalWordsCount }}</td>
                        <td class="nostretch">
                            <button
                                (click)="editTag(tag, index)"
                                class="button button-small yellow">Edit
                            </button>
                        </td>
                        <td class="nostretch">
                            <button
                                (click)="removeTag(tag, index)"
                                class="button button-small red">Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>


<confirm-language-removal
    [languageName]="selectedLanguageName"
    [totalWordsCount]="selectedLanguageTotalWordsCount"
    (doRemove)="onConfirmLanguageRemoval()"
    (cancelRemoval)="onCancelLanguageRemoval()"
></confirm-language-removal>


<confirm-tag-removal
    [tagName]="selectedTagName"
    [totalWordsCount]="selectedTagTotalWordsCount"
    (doRemove)="onConfirmTagRemoval()"
    (cancelRemoval)="onCancelTagRemoval()"
></confirm-tag-removal>


<edit-tag
    [tagName]="editedTagName"
    (doRename)="onConfirmTagRename($event)"
    (cancelRename)="onCancelTagRename()"
></edit-tag>
